# Seguridad: NUNCA subir las variables de entorno
.env
.env.local
.env.*.local
.env.production
.env.development

# Bases de datos y archivos locales (Limpieza de Git)
platform/backend/dev.db
platform/backend/dev.db-journal
platform/backend/dev.db-shm
platform/backend/dev.db-wal
**/*.db
**/*.sqlite

# Dependencias y compilados
node_modules/
dist/
.next/
platform/frontend/.next/
platform/backend/dist/

# Archivos de sistema
.DS_Store
Thumbs.db
*.logs